@font-face {
  font-family: 'Alagard';
  src: url('./assets/alagard.ttf') format('truetype');
}

.App {
  text-align: center;
  background-color: #ced4da;
  height: 100px;
  margin-top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #444444;
}

.App-link {
  color: #fff;
}

.Button {
  color:#fff;
  margin-left: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bidSubmission {
  margin-right: 15%;
}

.bidList {
  margin-left: 15%;
}

a {
  color:#fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
  color: #000
}

body {
  background-color: #F0F8FF
}

img {
  width: 250px;
  height: 250px;
  margin-bottom: 2%;
}

.Bulletin {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

.parchment {
  width: 700px;
  height: 700px;
  border-radius: 10px;
  margin-right: 15%;
}

.fence {
  width: 100%;
  height: 100%;
}

.balanceDiv {
  border-color: #000;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 8%;
  height: 20%;
  border: 1px solid rgba(0, 0, 0, 1);
  justify-content: left;
  text-align: left;
  font-size: large;
  text-align: center;
}

.keyDiv {
  border-color: #000;
  border-radius: 5px;
  margin-top: 1%;
  height: 20%;
  border: 1px solid rgba(0, 0, 0, 1);
  justify-content: left;
  text-align: left;
}

table {
  margin-top: 0%;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: sans-serif;
}

th,
td,
tr {
  border: 1px solid black;
  font-family: sans-serif;
}

tr {
  width: 75%;
}

td {
  width: 75%;
}

div {
  white-space: pre;
  font-family: sans-serif;
}

h1 {
  font-family: 'Alagard';
}

h2 {
  font-family: 'Alagard';
}

h3 {
  margin-bottom: 1%;
  margin-top: 0%;
  margin-left: -7%;
}

h4 {
  margin-bottom: 0%;
  margin-top: 3%;
  color: #000;
  font-size: 25px; 
  font-family: 'Alagard';
  white-space: pre;
}

.title {
  text-decoration: underline black;
}

.gold {
  margin-bottom: 0%;
  margin-top: 8%;
  color: #000;
  font-size: 25px; 
  font-family: 'Alagard';
  white-space: pre;
  text-underline-position: below;
  text-decoration: underline black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  border-radius: 5px;
  text-align: center;
  margin-top: 1%;
  font-size: 20px;
  font-family: sans-serif;
  height: 10%;
  width: 20%;
  display:inline;
  background-color: rgb(0, 0, 0, 0);
}