.App {
  text-align: center;
  background-color: #ced4da;
  height: 100px;
  margin-top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
}

.Button {
  color:#fff;
  margin-left: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bidSubmission {
  margin-right: 15%;
}

.bidList {
  margin-left: 15%;
}

a {
  color:#fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
  color: #000
}

body {
  background-color: #fafafa
}

img {
  width: 250px;
  height: 250px;
}

.balanceDiv {
  border-color: #000;
  border-radius: 5px;
  margin-top: 1%;
  height: 20%;
  border: 1px solid rgba(0, 0, 0, 1);
  justify-content: left;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
